<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Welcome to My Article</h1></center>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus cupiditate dicta delectus sint animi repellat omnis vel ipsum, odit, accusantium quis nemo. Aperiam quidem veniam nobis consectetur accusantium, labore ipsa iusto vitae unde assumenda saepe dicta adipisci velit tempore quis officiis laborum repellat magnam itaque modi numquam deleniti maxime? Velit aspernatur veritatis ipsa unde, nostrum deserunt laudantium voluptate doloremque hic id quae expedita error delectus a soluta rerum deleniti nihil dolor voluptatem ut alias et eum modi. Inventore, voluptate tempore perspiciatis quisquam et autem ab velit rerum ipsam, nemo qui odio neque nobis fugit dignissimos excepturi dicta ipsum non doloribus iste officia suscipit incidunt unde officiis. Eum excepturi placeat ratione, laboriosam quaerat veniam id nesciunt hic a atque aperiam quae.
    </p>
    <hr>
    <BUtton><a href="{% url 'form' %}">Add Articles</a></Button>
    <BUtton><a href="{% url 'all_articles' %}">Show Articles</a></Button>
</body>
</html>